
html {
    background-color: #000000;
}

#game-board img {
    width: 150px;
    height: 150px;
    margin-right: 5px;
    cursor: pointer;
}

ul#infoList {
    list-style:none;
}

ul#infoList li {
    display: inline-block;
    background-color: #fefefe;
    border: 1px solid;
    list-style: none;
    padding: 3px;
    border-radius: 5px 5px;
    color: rgb(40,40,40);
    text-decoration: none;
    margin-right: 10px;
}

ul#infoList li#newGameButton {
    font-weight: bold;
    border-color: red;
    color: red;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

h1 {
	color: white;
}

div#message {
	display: none;
	
}

div#main {
	margin-left: 10%;
}
