@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

html {
    background-color: #000000;
    font-family: Lato, "Helvetica Nueue", Helvetica, sans-serif;
}

div#game-board img {
    width: 170px;
    height: 170px;
    margin-right: 5px;
    cursor: pointer;
}

ul#infoList {
    list-style:none;
    position: relative;
    left: -40px;
}

ul#infoList li {
    display: inline-block;
    background-color: #fefefe;
    border: 1px solid;
    list-style: none;
    padding: 3px;
    border-radius: 5px 5px;
    color: rgb(40,40,40);
    text-decoration: none;
    margin-right: 10px;
}

ul#infoList li#newGameButton {
    font-weight: bold;
    border-color: #ff0000;
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

ul#infoList li#instructionsButton {
    font-weight: bold;
    border-color: #ff0000;
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
    
}

ul#infoList li#elapsed {
	font-size: 18px;
    font-weight: bold;
	color: #ffffff;
	background-color: #000000;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 5px 5px;
    width: 160px; 
}

ul#infoList li#misses {
	width: 78px;
}

h1 {
	color: #ffffff;
	position: relative;	
	left: 20px;	
}

div#message {
	color: #ffffff;
	padding-bottom: 10px;
	width: 695px;	
}

div#main {
	margin-left: 100px;
}
